<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="../js/vue.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div id="root">
        <!-- v-model双向数据绑定，常常使用在input表单元素中，默认值是value -->
        姓:<input v-model="firstname" type="text">
        <br>
        名:<input v-model="lastname" type="text">
        <br>
        全 名：<span>{{fullname}}</span><br>

    </div>

    <script>
        // vue认为data里的数据都是属性：属性名：属性值
        const vm = new Vue({
            el: '#root',
            data: function () {
                return {
                    firstname: '上原',
                    lastname: '步梦',
                }
            },
            computed: {//计算属性简写写法（确定计算属性只读不改）
                fullname() {
                    console.log('fullname被读取了,get被调用了')
                    return this.firstname + this.lastname
                }
            }


        })
    </script>
</body>

</html>